@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
}
#content {
	padding-bottom:100px; /* Height of the footer element */
}
#footer {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	background: #d2d2d2;
}


#footer img {
	width:40px;
	height:40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d2d2d2;
    top: 0; 
    width: 100%; 
	
}

li {
    float: left;
	height: 100px;
  	display: flex;
  	align-items: center;
}

li a {
    display: block;
    color: #000;
    padding: 16px;
    text-decoration: none;
	float:left;
	height: 100px;
    font-size: 25px;
    font-family: cursive;
    padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;

}
li a:hover {
 background: #8c95a3;
 color: white;
 position: flex;
}

#social img{ 
	float: left;
	padding: 5px 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#social {
	margin-left: 10px;
}
#description {
	text-align: center;
 	margin: 90px 0 100px 0;
}

.dropdown-content{
 position: absolute;
 background-color: #d2d2d2;
 top:100px;
 width: 256px;
}

form{
	display: table;
	margin:auto;
	padding: 40px;
}
input,label{
	display: inline-block;
	font-family: cursive;
	vertical-align: middle;
	margin-bottom:5px; 
	font-size: 20px;
}
#loginForm input{
	width:100%;
}
input{
	width: 240px;
	height: 30px;
}

button{
	font-family: cursive;
	width:55px;
	height:30px;
	background-color:#d2d2d2;
	border: 1px solid black; 
}
button:hover{
	background-color:#8c95a3;
}

#navigation {
	display: table;
	margin:auto;
	padding: 50px;
}

#label{
	text-align: center;
	font-size: 20px;
	font-family: cursive;
	margin-bottom: 25px;
}
.navEl{
	display: inline-block;
	text-align: center;
	padding: 0 25px;
	transition: 0.5s;
	
}
.navEl:hover{
	transform: translateY(10px);
}

.navEl label {
	color: black;	
}

/*.banner {
    min-height: 100px;
    background: transparent;
}*/

#avatar img{
	width: 100%;
}

#sesLoggin {
	display: inline-block;
}

.dropdown-content a {
 padding: 0px;
 background-color: #d2d2d2;
 width: 100%;
 height: 50px;
}

/*-- banner --*/
.banner{
	background: url(../images/1.jpg) no-repeat 0px -165px;
	background-size: cover;
	min-height: 700px;
	width: 100%;
	}
.banner-info{
	text-align:center;
	padding-top: 11em;
	}
.banner-info h2{
	color:#fff;
	font-size:60px;
	font-family: 'Roboto', sans-serif;
	font-weight:600px;
	margin:0;
	}
.banner-info p{
	margin: 2em 0 4em;
	font-size: 22px;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	}
.more {
	text-align:center;
	}
.more a{
	padding: 14px 0px;
	border: 1px solid #fff;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
	background: url(../images/1.png) no-repeat 10em 1.4em #5DC9C9;
	width: 16%;
	display: block;
	margin: 0 auto;
	text-decoration: none;
	}
.more a:hover{
	text-decoration:none;
	color:#5DC9C9;
	border:1px solid #5DC9C9;
	background: no-repeat 10em 1.4em #fff;
	display:block;
	text-decoration: none;
	}
/*-- //banner --*/