/* @import url('https://fonts.googleapis.com/css?family=Jura'); */
/*@import url('https://fonts.googleapis.com/css?family=Jura');
*/
  @font-face {
    font-family: Jura;
    src: url(../lib/jura/Jura-Regular.ttf);

   }@font-face {
    font-family: Roboto;
    src: url(../lib/roboto/Roboto-Regular.ttf);    
   }


html,

body {
	margin:0;
	padding:0;
	height:100%;
	font-family: 'Jura', sans-serif;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
}
#content {
	padding-bottom:100px; /* Height of the footer element */
}
#footer {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	background: #d2d2d2;
}

#footer img {
	width:40px;
	height:40px;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d2d2d2;
    top: 0; 
    width: 100%; 
	
}

#header li {
    float: left;
	height: 100px;
  	display: flex;
  	align-items: center;
}

li a {
    display: block;
    color: #000;
    padding: 16px;
    text-decoration: none;
	float:left;
	height: 100px;
    font-size: 25px;
    /*font-family: cursive;*/
    padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;

}
li a:hover {

 background: #5DC9C9 /*#8c95a3*/;
 color: white;
 position: flex;
}

#social img{ 
	float: left;
	padding: 5px 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#social {
	margin-left: 10px;
}
#description {
	text-align: center;
 	margin: 90px 0 100px 0;
}

.dropdown-content{
 position: absolute;
 background-color: #d2d2d2;
 top:100px;
 width: 256px;
 z-index: 100;
}

form{
	display: table;
	margin:auto;
	padding: 40px;
}
input,label{
	display: inline-block;
	/*font-family: cursive;*/
	vertical-align: middle;
	margin-bottom:5px; 
	font-size: 20px;
}
#loginForm input{
	width:100%;

}
input{
	width: 240px;
	height: 30px;
}

button{
	/*font-family: cursive;*/
	margin-top: 5px;
	width:55px;
	height:30px;
	background-color:#d2d2d2;
	border: 1px solid black;
	font-family: 'Jura', sans-serif;
}
/*button:hover{
	background-color:#5DC9C9;
}*/

#navigation {
	display: table;
	margin: auto;
	margin-top: 200px;
	padding: 50px;
}

.label{
	text-align: center;
	font-size: 20px;
	/*font-family: cursive;*/
	margin-bottom: 25px;
}
.navEl{
	display: inline-block;
	text-align: center;
	padding: 0 25px;
	transition: 0.5s;
	
}
.navEl:hover{
	transform: translateY(10px);
}

.navEl label {
	color: black;	
}

/*.banner {
    min-height: 100px;
    background: transparent;
}*/

#avatar img{
	width: 100%;
}

#sesLoggin {
	display: inline-block;
}

.dropdown-content a {
 padding: 0px;
 background-color: #d2d2d2;
 width: 100%;
 height: 50px;
 z-index: 100;
}

/*-- banner --*/
.banner{
	background: url(../images/1.jpg) no-repeat 0px -165px;
	background-size: cover;
	background-attachment: fixed; 
	min-height: 700px;
	width: 100%;
	}
.banner-info{
	text-align:center;
	padding-top: 11em;
	}
.banner-info h2{
	color:#fff;
	font-size:60px;
	font-family: 'Roboto', sans-serif;
	font-weight:600px;
	margin:0;
	}
.banner-info pre {
	margin: 2em 0 4em;
	font-size: 22px;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	}
.more {
	text-align:center;
	}
.more a{
	padding: 14px 0px;
	border: 1px solid #fff;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
	background: url(../images/1.png) no-repeat 10em 1.4em #5DC9C9;
	width: 16%;
	display: block;
	margin: 0 auto;
	text-decoration: none;
	}
.more a:hover{
	text-decoration:none;
	color:#5DC9C9;
	border:1px solid #5DC9C9;
	background: no-repeat 10em 1.4em #fff;
	display:block;
	text-decoration: none;
	}
/*-- //banner --*/

#regForm {
	margin: 5% 38%;
	padding: 0;
	max-width: 400px;
	float: left;
}

#regForm  img {
	width: 300px;
}

#styleButtReg {
	
	padding-bottom: 35px;
	text-align: center;
	margin-top: 40px;
	background-color: #D2D2D2;
	border: 1px solid #8c95a3;
	border-radius: 5%;
}

#styleButtReg:hover {
	padding-bottom: 35px;
	background: #5DC9C9;
	border: 1px solid #D2D2D2;
 	color: white;
}

/*.parallax-window {
	height: 350px;
	box-shadow:0 0 0 256px rgba(0, 0, 0, 0.73) inset;
	padding-bottom: 50px;
}

.parallax-window pre{
	padding-top: 150px;
	padding-left: 30%;
	font-size: 22px;
	color: white;
	font-family: 'Roboto', sans-serif;	
}
*/
/*#aboutAuthor {

}*/

#lastNews {
	display: table;
	margin: 30px auto;
	margin-bottom: 100px;
	padding: 50px;
}

.newsBox {
	display: inline-block;
	text-align: center;
	/*padding: 0 10px;*/
	margin: 0 25px;
	/*border: 1px solid #5DC9C9;
	border-radius: 15%;*/
}

.newsBox a{
	color: black;
}

.newsBox a label:hover{
	color: red;
}

.newsBox img {
	width: 400px;
	height: 250px;
	-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.newsBox img:hover{	
-webkit-filter: contrast(185%); 
}

#aboutAutShort {
	background-color: #f4f4f4;
	display: table;
	margin:auto;	
	width: 100%;
}

#aboutAutShort img {
	margin: 3% 9%;
	width: 25%;
	border-radius: 19%;
	float: left;
	display: inline-block;
	text-align: center;
	padding: 0 25px;
}

.photoBox {	
	position: relative;
	z-index: 50;
}

.photoBox img {
	width: 90%;
	display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    z-index: 50;
}

.photoBox img:hover{	
	/*width: 120%;*/
	/*height: 120%;*/
	/*border: 3px solid red;*/	
}

#bottomBaner {
	background: url(images/baner1.jpg) no-repeat -200px 165px;
	background-size: cover;
	background-attachment: fixed; 
	height: 350px;
	box-shadow:0 0 0 256px rgba(0, 0, 0, 0.73) inset;
	padding-bottom: 50px;
}

#bottomBaner pre{
	padding-top: 150px;
	padding-left: 30%;
	font-size: 22px;
	color: white;
	font-family: 'Roboto', sans-serif;	
}
/*done*/
/*button UP*/
.btn_up {
	position: fixed;
	bottom: -55px;
	right: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid #5DC9C9;
	background: white;
	z-index: 100;
	outline: 0!important;
	transition: .4s;
}

.btn_up:after{
	content:'';
	width: 10px;
	height: 10px;
	border-top: 2px solid #5DC9C9;
	border-left: 2px solid #5DC9C9;
	transform: rotate(45deg);
	position: absolute;
	top: 4px; bottom: 0;
	left: 0; right: 0;
	margin: auto;
}

.btn_up.active{
	bottom: 55px;
}
/*end*/
/*button up one Step*/
/*.slider{
	width: 600px;
	height: 400px;
	position: absolute;
	top: 200px; left: 0; right: 0;
	margin: auto;
	background: #ccc;
}	

.slider ul{
	position: absolute;
	top: 0px; left: 0;
	right: 0; bottom: 0;
}

.slider ul li{
	position: absolute;
	top: 0px; left: 0;
	right: 0; bottom: 0;
	background-size: cover;
	background-position: center;
}
	

.prev, .next button{
	width: 60px;
	height: 30px;
	position: absolute;
	top: 50%;
	margin-top: -15px;
}
	&.prev{
		left: -80px;
	}

	&.next{
		right: -80px;
	}
*/


/*end*/


